@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Meter Reading Uploader</h1>
</div>


<form id="upload" enctype="multipart/form-data">
    <input type="file" name="csvFile" id="csvFile" size="23" />
    <input type="submit" value="Upload" />
</form>

<p id="result"></p>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $('#upload').on('submit', function (e) {
        e.preventDefault();

        var formData = new FormData();
        var fileInput = $('#csvFile')[0];

        // Append the file to the FormData
        formData.append('csvFile', fileInput.files[0]);

        $.ajax({
            url: 'https://localhost:7006/meter-reading-uploads',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false
        }).done(function (data) {
            var now = new Date();
            $('#result').text("Upload completed at " + now);
        }).fail(function (xhr, status, error) {
            var now = new Date();
            $('#result').text("Error occurred at " + now + ". Error: " + error)
        });
    });


</script>